:root {
	--color-blue: #264b77;
	--color-grey-blue: #37495e;
	--color-dark-blue: #00243f;
	--color-grey: #f6f6f6;
	--color-light-grey: #fffefe;
	--color-dark-grey: #cccccc;
	--color-white: #ffffff;
	--color-gold: #b67929;
	--color-light-gold: #ffbf6c;
}