@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

$font_primary: 'MyriadPro', sans-serif;
