.galery {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
	padding: 20px;
}

.galery__card {
	padding: 15px;
	background-color: var(--color-white);
	width: 100%;
	min-height: 380px;
	display: flex;
	margin-bottom: 15px;

	@include media-query($small) {
		flex-direction: column;
	}
}

.galery__card-img-wrapper {
	width: 300px;
	height: 350px;

	@include media-query($small) {
		width: 100%;
		margin-bottom: 20px;
	}

	img {
		width: 300px;
		min-height: 100%;

		@include media-query($small) {
			width: 100%;
			height: 350px;
			object-fit: cover;
			object-position: center;
		}
	}
}

.galery__card-info {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media-query($small) {
		margin-left: 0;
	}
}

.galery__card-title {
	font-size: 25px;
	font-weight: 700;
	color: var(--color-dark-blue);
	margin-bottom: 10px;
}

.galery__card-date,
.galery__card-rating {
	font-size: 17px;
	color: var(--color-dark-blue);
	display: block;

	@include media-query($small) {
		font-size: 15px;
	}
}

.galery__card-date {
	margin-bottom: 15px;
}

.galery__card-rating {
	margin-bottom: 10px;
	transition: all .8s;
}

.galery__card-summary {
	font-size: 25px;
	color: var(--color-dark-blue);
	font-weight: 400;
	margin-bottom: 10px;

	@include media-query($small) {
		font-size: 22px;
	}
}

.galery__card-text {
	font-size: 21px;
	color: var(--color-dark-blue);
	display: inline;

	@include media-query($small) {
		font-size: 18px;
	}
}

.galery__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
	position: relative;

	@include media-query($small) {
		flex-direction: column;
		margin-bottom: 20px;
	}
}

.galery__view {
	display: flex;
	height: 17px;

	&:hover {
		.galery__tooltip {
			opacity: 1;
		}
	}

	svg {
		width: 17px;
		height: 100%;
		fill: var(--color-dark-blue);
		transition: $transition;
		cursor: pointer;

		&:hover {
			fill: var(--color-light-gold);
		}

		&:first-child {
			margin-right: 25px;
		}
	}
}

.galery__view-icons {
	text-align: right;
	position: relative;
}

.galery__tooltip {
	font-size: 13px;
	color: var(--color-dark-blue);
	border: 2px solid var(--color-dark-blue);
	background-color: var(--color-white);
	border-radius: 2px;
	display: block;
	padding: 2px 5px;
	position: absolute;
	top: -33px;
	left: -60px;
	opacity: 0;
	pointer-events: none;
	transition: $transition;
	z-index: 99;

	@include media-query($medium-down) {
		display: none;
	}

	&:before {
		content: '';
		position: absolute;
		bottom: -12px;
		right: 5px;
		border: 6px solid transparent;
		border-top: 6px solid var(--color-dark-blue);
		border-radius: 2px;
		display: block;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -9px;
		right: 5px;
		border: 6px solid transparent;
		border-top: 6px solid var(--color-white);
		border-radius: 2px;
		display: block;
	}
}

.tiles--view {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;

	.galery__card {
		width: calc(50% - 10px);
		position: relative;
		margin-bottom: 20px;

		@include media-query($medium-down) {
			width: 100%;
		}

		&:hover {
			.galery__card-info {
				top: 15px;
			}

			.galery__card-rating {
				margin-bottom: 15px;
			}
		}
	}

	.galery__card-info {
		position: absolute;
		background-color: #b67929c2;
		left: 15px;
		right: 15px;
		bottom: 15px;
		margin-left: 0;
		padding: 15px;
		top: 72%;
		transition: all .8s;

		.galery__card-title,
		.galery__card-date,
		.galery__card-rating,
		.galery__card-summary,
		.galery__card-text {
			color: var(--color-white);
		}
	}

	.galery__card-img-wrapper {
		width: 100%;
		height: 430px;

		@include media-query($medium-down) {
			margin-bottom: 0;
		}

		img {
			width: 100%;
			height: 430px;
			object-fit: cover;
		}
	}

	.galery__card-footer {
		overflow: auto;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	.galery__card-rating {
		margin-bottom: 0;
	}
}

.galery__filters {
	width: 400px;
	min-height: 40px;
	border: solid 3px var(--color-dark-blue);
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	padding: 7px 15px;
	position: relative;
	cursor: pointer;
	flex-wrap: wrap;

	@include media-query($small) {
		margin-bottom: 20px;
		width: 100%;
	}

	&:after {
		content: '';
		position: absolute;
		top: 15px;
		right: 15px;
		border: 5px solid transparent;
		border-top: 7px solid var(--color-dark-blue);
		border-radius: 2px;
		display: block;
		transition: $transition;
		pointer-events: none;
	}

	label {
		font-size: 17px;
		color: var(--color-dark-blue);
		cursor: pointer;
	}
}

.galery__filters-title {
	font-size: 17px;
	font-weight: 700;
	color: var(--color-dark-blue);
	width: 100%;
}

.galery__filters-container {
	display: none;
	margin-top: 30px;

	@include media-query($small) {
		margin: 30px auto 0;
	}
}

.galery__filters-rating {
	float: left;
	margin-right: 30px;

	.galery__filters-title {
		margin-bottom: 5px;
	}

	ul {
		li {
			display: flex;
			align-items: center;
			padding: 5px 0;

			input {
				margin-right: 15px;
			}
		}
	}
}

.galery__filters-year {
	float: left;
	display: inline-flex;
	flex-direction: column;
	width: 200px;

	@include media-query($extra-small) {
		width: 100%;
	}

	.galery__filters-title {
		margin-bottom: 15px;
	}

	input {
		border: solid 1px var(--color-dark-blue);
		background-color: var(--color-white);
		border-radius: 2px;
		height: 30px;
		width: 100%;
		position: relative;
		padding: 0 0 0 55px;
	}

	label {
		position: relative;
		top: -30px;
		left: 5px;
		border-right: solid 1px var(--color-dark-blue);
		width: 44px;
		height: 30px;
		display: block;
		line-height: 30px;;
	}
}

.galery__filters-field {
	cursor: initial;
	margin-bottom: -20px;
}