.hero-slider {
	overflow: hidden;
	list-style: none;
	z-index: 1;
	margin-bottom: 40px;

	img {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
	}

	.swiper-pagination {
		left: 0;
		right: 0;
		background-color: var(--color-white);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 14px 0;

		.swiper-pagination-bullet {
			background-color: var(--color-dark-grey);
			opacity: 1;
			margin: 0 5px;
			width: 10px;
			height: 10px;
		}

		.swiper-pagination-bullet-active {
			background: var(--color-dark-blue);
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		&:after {
			color: transparent;
			font-size: 50px;
		}
	}

	.swiper-button-prev:after,
	.swiper-container-rtl .swiper-button-next:after,
	.swiper-button-next:after,
	.swiper-container-rtl .swiper-button-prev:after {
		background-repeat: no-repeat;
		background-position: center;
	}

	.swiper-button-next:after,
	.swiper-container-rtl .swiper-button-prev:after {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48cGF0aCBkPSJNMjg1LjQ3NiAyNzIuOTcxTDkxLjEzMiA0NjcuMzE0Yy05LjM3MyA5LjM3My0yNC41NjkgOS4zNzMtMzMuOTQxIDBsLTIyLjY2Ny0yMi42NjdjLTkuMzU3LTkuMzU3LTkuMzc1LTI0LjUyMi0uMDQtMzMuOTAxTDE4OC41MDUgMjU2IDM0LjQ4NCAxMDEuMjU1Yy05LjMzNS05LjM3OS05LjMxNy0yNC41NDQuMDQtMzMuOTAxbDIyLjY2Ny0yMi42NjdjOS4zNzMtOS4zNzMgMjQuNTY5LTkuMzczIDMzLjk0MSAwTDI4NS40NzUgMjM5LjAzYzkuMzczIDkuMzcyIDkuMzczIDI0LjU2OC4wMDEgMzMuOTQxeiIgc3R5bGU9IiYjMTA7ICAgIGZpbGw6ICMwMDI0M2Y7JiMxMDsiLz48L3N2Zz4=');
	}

	.swiper-button-prev:after,
	.swiper-container-rtl .swiper-button-next:after {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiBzdHlsZT0iJiMxMDsgICAgZmlsbDogIzAwMjQzZjsmIzEwOyI+PHBhdGggZD0iTTM0LjUyIDIzOS4wM0wyMjguODcgNDQuNjljOS4zNy05LjM3IDI0LjU3LTkuMzcgMzMuOTQgMGwyMi42NyAyMi42N2M5LjM2IDkuMzYgOS4zNyAyNC41Mi4wNCAzMy45TDEzMS40OSAyNTZsMTU0LjAyIDE1NC43NWM5LjM0IDkuMzggOS4zMiAyNC41NC0uMDQgMzMuOWwtMjIuNjcgMjIuNjdjLTkuMzcgOS4zNy0yNC41NyA5LjM3LTMzLjk0IDBMMzQuNTIgMjcyLjk3Yy05LjM3LTkuMzctOS4zNy0yNC41NyAwLTMzLjk0eiIvPjwvc3ZnPg==');
	}

	.swiper-button-next,
	.swiper-button-prev {
		transform: translateY(-50%);
		margin-top: 0;
	}

	.swiper-slide {
		position: relative;
		width: 935px !important;

		@include media-query($medium-down) {
			width: 100% !important;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			border-bottom: 640px solid #b67929c2;
			border-left: 0px solid transparent;
			border-right: 435px solid transparent;
			height: 100%;
			width: 660px;
			opacity: 0;
			transition: 1s;

			@include media-query($small) {
				width: 500px;
			}

			@include media-query($extra-small) {
				border-bottom: 680px solid #b67929c2;
				border-right: 320px solid transparent;
				width: 100%;
			}
		}
	}

	.swiper-slide-active {
		&:before {
			opacity: 1;
		}

		.swiper-slide__info {
			opacity: 1;
		}
	}
}

.hero-slider__container {
	position: relative;
	height: 640px;

	&:after {
		content: '';
		background: linear-gradient(90deg, #ffffff 0, #ffffff82 50%, #fff0 100%);
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		width: 150px;
		position: absolute;
		z-index: 2;

		@include media-query($medium-down) {
			display: none;
		}
	}

	&:before {
		content: '';
		background: linear-gradient(90deg, #fff0 0, #ffffff82 50%, #ffffff 100%);
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		width: 150px;
		position: absolute;
		z-index: 2;

		@include media-query($medium-down) {
			display: none;
		}
	}
}

.swiper-slide__info {
	position: absolute;
	bottom: 15px;
	left: 25px;
	right: 25px;
	opacity: 0;
	transition: 1.3s;

	.btn {
		@include media-query($small) {
			font-size: 16px;
		}
	}
}

.swiper-slide__text,
.swiper-slide__title {
	font-size: 32px;
	color: var(--color-light-grey);
	margin-bottom: 15px;

	@include media-query($small) {
		font-size: 24px;
	}
}

.swiper-slide__title {
	font-weight: 700;
}