.hero-slider {
	overflow: hidden;
	list-style: none;
	z-index: 1;
	height: 640px;

	img {
		width: 934px;
		height: 640px;
		object-fit: cover;
	}

	.swiper-pagination {

	}
}

.swiper-slide {
	width: 935px !important;
}