@keyframes line_1 {
	from {
		width: 0;
	}

	to {
		width: 25px;
	}
}

@keyframes line_2 {
	from {
		width: 0;
	}

	to {
		width: 45px;
	}
}

@keyframes line_3 {
	from {
		width: 0;
	}

	to {
		width: 35px;
	}
}